<p class="P2"><span class="T1">Villkor för Jobbkraft</span>
</p>
<p class="Standard"><span class="T2">Välkommen till Jobbkraft</span>
</p>
<p class="Standard">Detta juridiska avtal mellan dig och Jobbkraft Sverige AB reglerar din användning av Jobbkraft.se samt applikationerna Jobbkraft till mobiltelefoner och ipad. Nedan benämns dessa tjänster/applikation gemensamt som ”Tjänsten”. Det är viktigt att du läser och förstår följande villkor. Genom att registera dig eller genom att använda tjänsten godkänner du villkoren och de blir gällande.</p>
<ol>
  <li>
    <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">1.</span><span class="T2">Krav för användning av tjänsten</span><span class="odfLiEnd" /> </p>
    <ol>
      <li>
        <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Ålder, </span>Tjänsten vänder sig till personer som fyllt 18 år.<span class="odfLiEnd" /> </p>
      </li>
      <li>
        <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Fysisk/representant för juridiskperson</span> Användaren är en fysisk person. Som fysisk person kan du representera dig själv som uppdragstagare eller ett företag och/eller en organisation som uppdragsgivare. För registrering av organisation behöver ni ange organisationsnummer samt ni behöver, i din befattning, ha rätt att registrera användarkonto. För registrering som uppdragstagare behöver ni registrera ert personnummer.<span class="odfLiEnd" /> </p>
      </li>
      <li>
        <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">c.</span><span class="T2">Begränsning i användning av tjänsten </span>Du samtycker till att endast använda tjänsten för syftet enligt dessa villkor och eventuell tillämpliga lagar. Tjänsten för ej användas för kriminella syfte. Jobbkraft har rätt att stänga av användare eller ta bort erbjudande om uppdrag utan motivering eller förtida information.<span class="odfLiEnd" /> </p>
      </li>
      <li>
        <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">d.</span><span class="T2">Tjänstens tillgänglighet </span>Tjänsten eller funktioner i tjänsten garanteras inte att vara tillgänglig 24 timmar om dygnet, sju dagar i veckan och tillgänglig från alla platser i världen. Jobbkraft garanterar ej en felfri tjänst. <span class="odfLiEnd" /> </p>
      </li>
      <li>
        <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">e.</span><span class="T2">Ändring av tjänsten </span><span class="T3">Jobbkraft förbehåller sig rätten att när som helst ändra detta Avtal och att införa nya eller ytterligare villkor för din användning av Tjänsten. Du kommer att meddelas om eventuella ändringar eller ytterligare villkor. Om du godkänner dem träder de i kraft omedelbart och kommer att infogas i detta Avtal. Du samtycker till att Jobbkraft inte är ansvarigt gentemot dig eller någon tredje part för ändringar av Tjänsten eller dess upphörande</span><span class="odfLiEnd" /> </p>
      </li>
    </ol>
  </li>
</ol>