<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>New Application Received></h1>
<p>
  New Application Received on <%= @job.job_name %> by <%= @applicant.name %>
</p>

</body>
</html>