<div class="vertical-alignment-helper">
  <div class="modal-dialog vertical-align-center">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
        </div>
        <div class="modal-body">

          <style type="text/css">
            @page {} table {
              border-collapse: collapse;
              border-spacing: 0;
              empty-cells: show
            }
            td,
            th {
              vertical-align: top;
              font-size: 12pt;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              clear: both
            }
            ol,
            ul {
              margin: 0;
              padding: 0;
            }
            li {
              list-style: none;
              margin: 0;
              padding: 0;
            }
            /*"li span.odfLiEnd" - IE 7 issue*/
            li .span {
              clear: both;
              line-height: 0;
              width: 0;
              height: 0;
              margin: 0;
              padding: 0;
            }
            span.footnodeNumber {
              padding-right: 1em;
            }
            span.annotation_style_by_filter {
              font-size: 95%;
              font-family: Arial;
              background-color: #fff000;
              margin: 0;
              border: 0;
              padding: 0;
            }
            * {
              margin: 0;
            }
            .P1 {
              font-size: 11pt;
              line-height: 115%;
              margin-bottom: 0.139in;
              margin-top: 0in;
              text-align: left ! important;
              font-family: Calibri;
              font-weight: bold;
            }
            .P2 {
              font-size: 11pt;
              line-height: 115%;
              margin-bottom: 0.139in;
              margin-top: 0in;
              text-align: center ! important;
              font-family: Calibri;
            }
            .P3 {
              font-size: 11pt;
              line-height: 115%;
              margin-bottom: 0.139in;
              margin-left: 0.5in;
              margin-right: 0in;
              margin-top: 0in;
              text-align: left ! important;
              text-indent: 0in;
              font-family: Calibri;
            }
            .P4 {
              font-size: 11pt;
              line-height: 115%;
              margin-bottom: 0.139in;
              margin-left: 0.5in;
              margin-right: 0in;
              margin-top: 0in;
              text-align: left ! important;
              text-indent: 0in;
              font-family: Calibri;
              font-weight: bold;
            }
            .P5 {
              font-size: 11pt;
              line-height: 115%;
              margin-bottom: 0.139in;
              margin-left: 1in;
              margin-right: 0in;
              margin-top: 0in;
              text-align: left ! important;
              text-indent: 0in;
              font-family: Calibri;
              font-weight: bold;
            }
            .P6 {
              font-size: 11pt;
              line-height: 115%;
              margin-bottom: 0.139in;
              margin-left: 1.5in;
              margin-right: 0in;
              margin-top: 0in;
              text-align: left ! important;
              text-indent: 0in;
              font-family: Calibri;
              font-weight: bold;
            }
            .P7 {
              font-size: 11pt;
              line-height: 115%;
              margin-bottom: 0.139in;
              margin-left: 0in;
              margin-right: 0in;
              margin-top: 0in;
              text-align: left ! important;
              text-indent: 0in;
              font-family: Calibri;
              font-weight: bold;
            }
            .Standard {
              font-size: 11pt;
              line-height: 115%;
              margin-bottom: 0.139in;
              margin-top: 0in;
              font-family: Calibri;
              text-align: left ! important;
            }
            .T1 {
              font-size: 14pt;
              font-weight: bold;
            }
            .T2 {
              font-weight: bold;
            }
            .T3 {
              background-color: #ffffff;
            }
            /*ODF styles with no properties representable as CSS*/
          </style>
          <p class="P2"><span class="T1">Villkor för Jobbkraft</span>
          </p>
          <p class="Standard"><span class="T2">Välkommen till Jobbkraft</span>
          </p>
          <p class="Standard">Detta juridiska avtal mellan dig och Jobbkraft Sverige AB reglerar din användning av Jobbkraft.se samt applikationerna Jobbkraft till mobiltelefoner och ipad. Nedan benämns dessa tjänster/applikation gemensamt som ”Tjänsten”. Det är viktigt att du läser och förstår följande villkor. Genom att registera dig eller genom att använda tjänsten godkänner du villkoren och de blir gällande.</p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">1.</span><span class="T2">Krav för användning av tjänsten</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Ålder, </span>Tjänsten vänder sig till personer som fyllt 18 år.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Fysisk/representant för juridiskperson</span> Användaren är en fysisk person. Som fysisk person kan du representera dig själv som uppdragstagare eller ett företag och/eller en organisation som uppdragsgivare. För registrering av organisation behöver ni ange organisationsnummer samt ni behöver, i din befattning, ha rätt att registrera användarkonto. För registrering som uppdragstagare behöver ni registrera ert personnummer.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">c.</span><span class="T2">Begränsning i användning av tjänsten </span>Du samtycker till att endast använda tjänsten för syftet enligt dessa villkor och eventuell tillämpliga lagar. Tjänsten för ej användas för kriminella syfte. Jobbkraft har rätt att stänga av användare eller ta bort erbjudande om uppdrag utan motivering eller förtida information.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">d.</span><span class="T2">Tjänstens tillgänglighet </span>Tjänsten eller funktioner i tjänsten garanteras inte att vara tillgänglig 24 timmar om dygnet, sju dagar i veckan och tillgänglig från alla platser i världen. Jobbkraft garanterar ej en felfri tjänst. <span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">e.</span><span class="T2">Ändring av tjänsten </span>Jobbkraft förbehåller sig rätten att när som helst ändra detta Avtal och att införa nya eller ytterligare villkor för din användning av Tjänsten. Du kommer att meddelas om eventuella ändringar eller ytterligare villkor. Om du godkänner dem träder de i kraft omedelbart och kommer att infogas i detta Avtal. Du samtycker till att Jobbkraft inte är ansvarigt gentemot dig eller någon tredje part för ändringar av Tjänsten eller dess upphörande<span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P5"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">2.</span><span class="T2">Definationer</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Uppdrag</span><span class="odfLiEnd" /> </p>
                  <ol>
                    <li>
                      <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.318cm;">i.</span>De jobb och arbete som en uppdragsgivare anlitar en uppdragstagare, att utföra, benämns här med som ”Uppdrag”<span class="odfLiEnd" /> </p>
                    </li>
                  </ol>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Uppdragsgivare</span><span class="odfLiEnd" /> </p>
                  <ol>
                    <li>
                      <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.318cm;">i.</span>”Uppdragsgivare” defineras den juridiskperson som anlitar personer för att utföra uppdrag eller utföra rekryteringar via tjänsten. Som användare och represetant för uppdragsgivare defineras du som uppdragsgivare.<span class="odfLiEnd" /> </p>
                    </li>
                  </ol>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">c.</span><span class="T2">Uppdragstagare</span><span class="odfLiEnd" /> </p>
                  <ol>
                    <li>
                      <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.318cm;">i.</span>”Uppdragstagare” är den person som åtar sig att utföra ett uppdrag.<span class="odfLiEnd" /> </p>
                    </li>
                  </ol>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">d.</span><span class="T2">Jobbkraft</span><span class="odfLiEnd" /> </p>
                  <ol>
                    <li>
                      <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.318cm;">i.</span>Jobbkraft Sverige AB är ägare till tjänsten samt formellt arbetsgivare till uppdragstagare där uppdragen bemannas via Jobbkraft bemanning. Jobbkraft Sverige AB benämns nedan som ”Jobbkraft”<span class="odfLiEnd" /> </p>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P6"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">3.</span><span class="T2">Begränsning</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Juridisk person till fysisk person eller juridisk person </span>Tjänsten avser endast uppdrag/arbete där uppdragsgivaren är en juridisk person och anlitar en person eller ett konsultbolag att utföra uppdrag/arbete. Tjänsten vänder sig således ej till privatpersoner för anlitningen av företag eller privatpersoner för utförande av jobb.<span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P5"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">4.</span><span class="T2">Syfte med tjänsten</span><span class="odfLiEnd" /> </p>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">5.</span><span class="T2">Anställning för uppdrag</span><span class="odfLiEnd" /> </p>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Anställningsavtal vid uppdrag </span>Vid eventuellt uppdrag kommer avtal för anställning mellan uppdragstagaren och Jobbkraft ingås samt mellan uppdragsgivaren och Jobbkraft.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Rätt att avgöra anställning </span>Jobbkraft har rätt att neka någon anställning för uppdrag<span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P5"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">6.</span><span class="T2">Avtal för uppdragsgivare</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Uppdragsavtal vid anlitande av uppdragstagare för uppdrag </span>Vid eventuellt uppdrag kommer ytterligare avtal mellan uppdragsgivare och Jobbkraft att ingås. Ansvarsfördelning är att uppdragsgivaren har arbetsplatsansvar och arbetsledningsansvar. Jobbkraft har arbetsgivaransvar.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Rätt att neka uppdragsgivare </span>Jobbkraft har alltid rätt att neka uppdrag till en uppdragsgivare.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">c.</span><span class="T2">Kreditupplysning </span>Jobbkraft kommer att göra en kreditbedömning av uppdragsgivaren. Kreditbedömning kommer ligga till grund för uppdragsgivarens möjliga omfattning av användningen av tjänsten och uppdrag.<span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P5"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">7.</span><span class="T2">Fakturering för uppdrag</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Jobbkraft fakturerar uppdragsgivare för utförda uppdrag </span>Betalningsvillkor är 10 dagar netto. Utförd tid kan faktureras var sjunde dag alternativt när uppdraget är slutfört. Moms tillkommer på utförda uppdrag.<span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P5"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">8.</span><span class="T2">Rekryteringstjänst</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Avtal för rekrytering </span>Jobbkrafts tjänsten syftar till att på bästa sätt matcha uppdrag och uppdragstagare. Jobbkraft kan bemannan uppdrag där Jobbkraft är arbetsgivaren alternativt kan tjänsten användas för rekrytering där Uppdragsgivare anställer uppdragstagaren och uppdragsgivaren är arbetsgivaren. Vid skapande av ”uppdraget” defineras det om det är en bemaningstjänst eller en rekryteringstjänst. <span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">9.</span><span class="T2">Rekrytering efter bemaningsuppdrag , ingen avgift</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Anställer du som uppdragsgivare uppdragstagaren efter först anlitat henne via Jobbkraft i ett bemaningsuppdrag utgår ingen avgift eller kostnad för rekrytering av Jobbkraft. </span>Matchar uppdragtagarens kvalifikationer och ert som uppdragsgivares behov av anställning har vår matchning varit perfekt. Inga kostnader utöver utfört uppdrag inom bemaningsuppdraget utgår.<span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P5"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">10.</span><span class="T2">Matchningstjänst för rekryteringsföretag</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Tjänsten för att finna kandiadater till rekrytering vänder sig även till rekryteringsföretag. </span>Som rekryteringsföretag går det bra att använda sig av tjänsten för att finna och matcha kandidater för rekryteringsuppdrag i er regi. I information och kommuniktion om uppdraget skall ni tydligt ange att rekrytering sker via rekryteringsföretag. <span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">11.</span><span class="T2">Priser och avgifter</span><span class="odfLiEnd" /> </p>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Tjänsten är kostnadsfri för uppdragstagare </span>Inga kostnader är förknippade med att registrera konto eller ta uppdrag via tjänsten.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Tjänsten kostar endast för utförda uppdrag för uppdragsgivare </span>Att registrera konto och lägga upp uppdragsförfrågan är kostnadsfritt för uppdragsgivare. Jobbkraft tar endast betalt för utförda uppdrag enligt specifikt uppdragsavtal mellan Jobbkraft och Uppdragsgivaren. <span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">c.</span><span class="T2">Priser för rekryteringstjänst för uppdragsgivare </span>Att lägga upp uppdrag är kostnadsfritt. Att låsa upp matchande potentiella uppdragstagare och kompletterande tjänster kostar enligt prislitan ”Rekrytering” alternativt enligt seprerat avtal.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">d.</span><span class="T2">Priser för rekryteringsföretag </span>Att registera konto och lägga upp uppdrag är kostnadsfritt för rekryteringsföretag. Att låsa upp matchande potentiella uppdragstagare kostar enligt prislistan ”Rekryteringsföretag” alternativt seperat avtal med Jobbkraft.<span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">12.</span><span class="T2">Personuppgifter</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Hantering av personuppgifter</span> Jobbkraft hanterar dina uppgifter som användare via dess it-system. Genom att registera konto samtycker ni till att detta lagras. Användare godkänner även att delar av dessa uppgifter vidarebefodras till potentiella uppdragsgivare utifrån att ni som användare har ansökt till uppdraget. <span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Rätt att ta bort olämpliga uppgifter </span>Jobbkraft har rätt att ta bort olämplig eller stöttande uppgifter registerat av användaren.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">c.</span><span class="T2">Användaren har rätt att ta del av registerade uppgifter om sig som användare </span>Användaren har rätt att ändra och radera uppgifter kopplade till sitt användarekonto.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">d.</span><span class="T2">Avslutande av konto </span>Vid avslutande av konto kan man som användare radera sina uppgifter. Jobbkraft har rätt och delvis skyldighet enligt lag att behålla de uppgifter som krävs för pågående uppdrag och utförda uppdrag.<span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">13.</span><span class="T2">Kontouppgifter</span><span class="odfLiEnd" /> </p>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Användarens ansvar </span>Du som användare har ansvar för att du uppger korrekta uppgifter i ditt konto. <span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Ansvar för kontouppgifter </span>Du som användare har ansvar för att ett tryggt och säkert sätt förvara dina lösenord och övriga kontouppgifter.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">c.</span><span class="T2">Att utge sig för någon annan </span>Att registrera ett användarkonto i någonannans namn eller identiet är brottsligt och kan komma att polisanmälas<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">d.</span><span class="T2">Säkerställan av identitet </span>För att säker ställa identitet av användare kan Jobbkraft begäran in ytterligare uppgifter så som tex kopia på idhandling, registeringsbevis, bekräftelse via bankid. Om Jobbkraft inte kan säker ställa identiet kan jobbkraft kunna neda tillgång till tjänsten eller hantering av uppdrag. <span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">14.</span><span class="T2">Ansvarsbegräsningar</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Tredjeman och eventuella anspråk </span>Jobbkraft tar inte ansvar för någon skada eller anspråk från tredjeman. Vid bemaning gäller villkoren att uppdragsgivaren har det formella arbetsplatsansvaret och Jobbkraft har arbetsgivaransvaret.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Jobbkraft </span>tar ej ansvar för data registerad av användare i systemet är korrekt.<span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">15.</span><span class="T2">Uppsägning och gilighetstid</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Villkoren enligt detta avtal gäller tillsvidare</span><span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Villkoren upphör att gälla </span>när en användare avregisterar<span class="T2"> </span>sitt konto eller om Jobbkraft inaktiverar användarkontot. Dock gäller villkoren fortsatt för pågående uppdrag och tjänster.<span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">16.</span><span class="T2">Immateriella rättigheter</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Jobbkraft äger rättigheter </span>till sitt namn och<span class="T2"> </span>grafiskt materiell. Det är ej ok att använda sig av detta materiell i andra syften än vad detta avtal medger. Vid påkallande av Jobbkraft skall omedelbart en felaktig användning upphöra<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Jobbkraft äger rättigheter </span>till all källkod, design och databaser för tjänsten jobbkraft. Att kopiera detta är ett brott enligt svensk lag.<span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">c.</span><span class="T2">Uppdragsgivare ger rättighet</span> till Jobbkraft att visa deras företagsnamn, logotype m.m. för publicering av uppdrag eller som referens för tidigare utförda uppdrag. Publiceringen kan utöver på tjänsten jobbkraft ske i sociala medier, annonsering samt länkning från andra källor. <span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P4"> </p>
          <ol>
            <li>
              <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">17.</span><span class="T2">Tillämplig av avtal och lag</span><span class="odfLiEnd" /> </p>
              <ol>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">a.</span><span class="T2">Svensk lag gäller vid tillämplig av detta avtal</span><span class="odfLiEnd" /> </p>
                </li>
                <li>
                  <p class="P3" style="margin-left:1.27cm;"><span style="display:block;float:left;min-width:0.635cm;">b.</span><span class="T2">Eventuell tvist skall avgöras av svensk domstol</span><span class="odfLiEnd" /> </p>
                </li>
              </ol>
            </li>
          </ol>
          <p class="P4"> </p>
          <p class="P1" />
          <p class="P7"> </p>
          <p class="Standard"> </p>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary lsu_btn" data-dismiss="modal"><%=t('ok') %></button>
        </div>
      </div>
    </div>
  </div>
</div>
