<footer class="footer_wrap">
  <div>
    <div class="footer_con">
      <div class="row">
        <div class="col-sm-4">
          <div class="footerinfo_box">
            <%= image_tag("footer_logo.png", alt: "footer logo") %>
            <p><%= t('footer_p')%></p>
          </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="social_box">
            <ul>
              <!--<li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>-->
              <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>