<div class='show_icon' id='driving_license_<%=@driving_license.id%>'>
  <ul>
    <% if @driving_license.dl_a == true %>
      <li><span><i class="fa fa-motorcycle" aria-hidden="true"></i></span><label>A</label></li>
    <%end%>
    <% if @driving_license.dl_a2 == true %>
      <li><span><i class="fa fa-motorcycle" aria-hidden="true"></i></span><label>A2</label></li>
    <%end%>
    <% if @driving_license.dl_aa == true %>
      <li><span><i class="fa fa-motorcycle" aria-hidden="true"></i></span><label>AA</label></li>
    <%end%>
    <% if @driving_license.dl_am == true %>
      <li><span><i class="fa fa-motorcycle" aria-hidden="true"></i></span><label>AM</label></li>
    <%end%>
    <% if @driving_license.dl_b == true %>
      <li><span><i class="fa fa-car" aria-hidden="true"></i></span><label>B</label></li>
    <%end%>
    <% if @driving_license.dl_be == true %>
      <li><span><i class="fa fa-car" aria-hidden="true"></i></span><label>BE</label></li>
    <%end%>
    <% if @driving_license.dl_c == true %>
      <li><span><i class="fa fa-bus" aria-hidden="true"></i></span><label>C</label></li>
    <%end%>
    <% if @driving_license.dl_ce == true %>
      <li><span><i class="fa fa-bus" aria-hidden="true"></i></span><label>CE</label></li>
    <%end%>
    <% if @driving_license.dl_c1 == true %>
      <li><span><i class="fa fa-bus" aria-hidden="true"></i></span><label>C1</label></li>
    <%end%>
    <% if @driving_license.dl_c1e == true %>
      <li><span><i class="fa fa-bus" aria-hidden="true"></i></span><label>C1E</label></li>
    <%end%>
    <% if @driving_license.dl_d == true %>
      <li><span><i class="fa fa-truck" aria-hidden="true"></i></span><label>D</label></li>
    <%end%>
    <% if @driving_license.dl_de == true %>
      <li><span><i class="fa fa-truck" aria-hidden="true"></i></span><label>DE</label></li>
    <%end%>
    <% if @driving_license.dl_d1 == true %>
      <li><span><i class="fa fa-truck" aria-hidden="true"></i></span><label>D1</label></li>
    <%end%>
    <% if @driving_license.dl_d1e == true %>
      <li><span><i class="fa fa-truck" aria-hidden="true"></i></span><label>D1E</label></li>
    <%end%>
  </ul>
</div>